.quiz-container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  h2 {
    margin-top: 0;
    padding-bottom: 10px;
  }
  
  .question-text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .answer-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  
  .answer-list li {
    margin-bottom: 10px;
  }
  
  .answer-button {
    border: 1px solid #007bff;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .answer-button:hover {
    background-color: #0056b3;
    color: #fff;
  }
  .answer-button.selected{
    background-color: #007bff;
    color: #fff;
  }

  .next-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .next-button:hover {
    background-color: #1d9236;
  }

  .quiz-completed {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .quiz-completed h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .quiz-completed h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .quiz-completed button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .quiz-completed button:hover {
    background-color: #0056b3;
  }

  .timer{
    text-align: right;
    color: red;
  }